<template>
  <div class="about" style="margin-top:10px;margin-bottom:10px">
    <canvas id="myCanvas" width="1200px" height="640px" @click="onClick"></canvas>
  </div>
</template>

<script>
export default {
  name: "about",
  components: {
    // HelloWorld,
  },
  data() {
    return {
      previous_cords: null,
      canvas: null,
      coords : []
    }
  },
  methods: {
    onClick(event) {
      let new_x = event.layerX;
      let new_y = event.layerY;
      var coord = { "x": new_x, "y": new_y};
      this.coords.push(coord);
        var c = document.getElementById("myCanvas");
        let canvas = c.getContext("2d");
            canvas.lineWidth = 8;
            canvas.strokeStyle = 'gray';
            canvas.fillStyle = 'gray';
            canvas.beginPath();
            canvas.arc(new_x, new_y, 5, 0, Math.PI * 2, true); // Draw a point using the arc function of the canvas with a point structure.
            canvas.fill();
          if (this.previous_cords) {
            let x =this.previous_cords[0];
            let y=this.previous_cords[1];
            canvas.moveTo(x, y);
            canvas.lineTo(new_x, new_y);
            canvas.stroke();
            this.previous_cords= [new_x, new_y];

          } else {
            this.previous_cords= [new_x, new_y];
          }
          if (this.coords.length == 4) {
            canvas.lineTo(this.coords[0].x, this.coords[0].y);
            canvas.stroke();
            this.$nextTick(() =>{
              new_x ="";
              new_y = "";
              this.previous_cords = null;
              this.coords = [];
            })
          }
        
    }
  }
}
</script>
<style lang="css">
canvas {
  border:2px solid #d3d3d3;
}
</style>
